*{
margin: 0;
 padding : 0;
}
 body{
font-size: 14px;

 }
.cabecalho{
 background-color: rgb(236, 224, 245);   
color:black ;
display:2%;
justify-content: center;
padding:2px ;
margin:0 ;
} 
 
#logoalura{
width:20% ;

} 

.lista-itens{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;
} 

#programa{
width: 40%;

}

.escolatitulo{
 
    font-size:x-large;
   font-family: Arial, Helvetica, sans-serif;
} 
 
.escolatexto1{ 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium;
}
